body{
    display: grid;
    place-items: center;
    padding-top: 10%;
    background-image: linear-gradient(black,yellow, blue);

}

.focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.bg{
    background-color: black;
   
}

h1 {
  font-size: 56px;
  margin-bottom: 20px;
  font-family: Georgia;
}
.btn {
  font-family: Georgia;
  font-size: 22px
}


.calcinput{
    height: 100px;
    background-color: darkgray;
}